.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.task{
  border: 2px solid #cccccc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.task-item{
  padding-left: 20px;
}
.task-del-btn{
  margin: 5px 15px 5px 0;
  padding: 0 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  outline: none;
}
.task-add-form{
  margin-bottom: 20px;
}
.task-text-entered{
  width: 600px;
  height: 40px;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
}
.task-add-btn{
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
}
